.cssanimations #loadElipsis {
  display: none;
}
.cssanimations .briefLoading {
  display: none !important;
}
.cssanimations .flashLoading .smallBriefLoading {
  display: none;
}

.no-cssanimations .spinkitSpinner {
  display: none !important;
}
