#page, .ui-dialog, .ui-widget-overlay, .ui-tooltip, .d #qrPrint, #top_fade, #bottom_fade, #html5dragBorder, #cameraOverlay, #leftCol, .fixedItems {
  display: none !important;
}

.printOnly, #qrPrint, #printContent {
  display: block !important;
}

.sideTab {
  display: none;
}

#topBars {
  display: none;
}

/*Lastpass Elements*/
iframe {
  display: none;
}

#lastpass-notification {
  display: none;
}

body {
  border-top: 0 none !important;
}

.qrInstructions {
  margin-bottom: 30px;
  text-align: center;
}

#omAuthWrap {
  display: block;
  clear: both;
}

.qrcode {
  text-align: center;
}
