.ui-progressbar {
  min-height: 20px;
  padding: 5px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.ui-progressbar > div {
  display: block;
  height: 20px;
  background-color: #bdbdbd;
  position: relative;
  overflow: hidden;
  width: 0%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.ui-progressbar > div > div, .ui-progressbar > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #3f6998), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #3f6998), color-stop(0.75, #3f6998), color-stop(0.75, transparent), to(transparent));
  z-index: 1;
  -webkit-background-size: 51px 51px;
  -webkit-animation: move 2s linear infinite reverse;
  overflow: hidden;
}

.ui-progressbar > span:after {
  display: none;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
