/* SHAME.CSS */
/* Styles_accouns.css */
body.account #notaccordion .settingSection #notifyContainer div .preferenceChangeResult {
  line-height: 1 !important;
}

body.account #passwordChangeDialog #pwordStrength {
  display: none !important;
}

body.accountlinks .dataTables_wrapper .myLinks-header #my_links_filter {
  width: 162px !important;
  padding: 5px 0 0 !important;
}

body.accountlinks .dataTables_wrapper .myLinks-header #my_links_filter input[type=text] {
  padding: 1px 3px 0 8px !important;
  box-shadow: 0 0 0 white !important;
  -moz-box-shadow: 0 0 0 white !important;
  -webkit-box-shadow: 0 0 0 white !important;
}

body.accountlinks .dataTables_wrapper .myLinks-header #my_links_filter input[type=text]:focus {
  border: 0 none !important;
}

body.accountlinks .dataTables_wrapper .myLinks-footer .dataTables_info {
  width: auto !important;
}

body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate {
  height: auto !important;
  line-height: 32px !important;
}

body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate .ui-button.ui-state-disabled,
body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate .ui-button.ui-state-disabled:hover {
  color: white !important;
}

body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate #my_links_previous.ui-state-disabled,
body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate #my_links_previous.ui-state-disabled:hover {
  color: #d9d9d9 !important;
  background-color: transparent !important;
}

body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate #my_links_next.ui-state-disabled,
body.accountlinks .dataTables_wrapper .myLinks-footer #my_links_paginate #my_links_next.ui-state-disabled:hover {
  color: #d9d9d9 !important;
  background-color: transparent !important;
}

body.accountlinks .my_links td.details table td,
body.accountlinks .my_links td.details table th {
  padding: 0 !important;
}

/* Styles_base.css */
.ui-tooltip.ui-tooltip-default {
  z-index: 10002 !important;
}

#pwordStrength .pwStrengthLabelRight {
  display: none !important;
}

.ui-dialog .dialogHeader ul li.first {
  border-left: 0 none !important;
}

#remainingViewsContainer #expireLimitsRefresh {
  float: none !important;
}

#nav .inner.squareDown .help .parent,
#nav .inner.squareDown .help .link.parent {
  margin-top: -1px !important;
}

#topNavbar .utilityLinks .utilityLink.last {
  margin-right: 0 !important;
}

/* Styles_decryption.css */
#divGateway #notYours #authUis.auth_type_native #loginDiv_la .logregForm input {
  text-align: left !important;
}

#divGateway #notYours #authUis.auth_type_phone #voiceCallSent #otpVoiceStatus #otpVoiceStatus_code {
  color: #3f3f3f !important;
}

#divSuccess #decryptDataContainer #dataShow {
  overflow-y: auto !important;
}

/* Styles_encryption.css */
#addedDocsDiv .fileSumRow {
  display: none !important;
}

#nicknameContainer2 .btnSaveNickname {
  color: white !important;
}

#nicknameContainer2 .btnSaveNickname .text {
  color: white !important;
}

.express #expressSidebar {
  position: absolute !important;
}

#encryptionConsole #consoleContainer-link table {
  width: 100% !important;
}

.topBannerContainer .topBannerRow.expired .topBannerStatus {
  width: 490px !important;
}

.uniqueurl #uniqueTop .inner {
  margin: 0 auto !important;
}

/* Styles_help.css */
#osNote .ui-accordion-content kbd {
  background-color: #dfdfdf !important;
}

/* Styles_logregpass.css */
.login #loginHeader,
.registerconfirm #loginHeader,
.passwordresetconfirm #loginHeader,
.admin_registerconfirm #loginHeader,
.accountsemailchangeconfirm #loginHeader {
  display: none !important;
}

.login #loginHeader {
  display: block !important;
}

.login #loginHeader .inner {
  margin-bottom: 0 !important;
}

#loginNav {
  display: none !important;
}
