/*
Lockify Inc.
Copyright 2009 - 2014
www.Lockify.com
-----------------------------------
*/
.isOwnerMsg.notice {
  margin-bottom: -1px;
  display: none;
}

#divFailure .viewPanel,
#divHmacFailure .viewPanel {
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 585px;
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#divFailure .headerMsg,
#divHmacFailure .headerMsg {
  text-align: center;
  font-size: 19px;
  color: #18223d;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#divFailure .headerMsg div,
#divHmacFailure .headerMsg div {
  font-size: 15px;
  margin-bottom: 3px;
}

#divSuccess.expired .icon-nav-marker {
  display: none;
}
#divSuccess.expired #decryptHeaderTip.vuAdjust {
  margin-bottom: 0;
}
#divSuccess.expired #decryptDataContainer.withFiles #dataBottomBar {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
#divSuccess.expired .output-sec-wrapper {
  display: none;
}
#divSuccess.expired #userWidgetTip {
  margin-bottom: 0;
}
#divSuccess.expired #decryptContent .icon-nav-marker {
  color: #fffdcf;
}
#divSuccess .output-sec-wrapper {
  margin-bottom: 5px;
}
#divSuccess #remainingViewsContainer .viewHeader {
  text-align: center;
  padding-top: 15px;
}

#notYours .column {
  position: relative;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#notYours .column .rateLimitMessagesTemplate div {
  margin-bottom: 15px;
}

#checkpointBands .wideOnly {
  display: none;
}
@media (min-width: 605px) {
  #checkpointBands .wideOnly {
    display: block;
  }
  #checkpointBands .narrowOnly {
    display: none;
  }
}

#confirmTrust {
  text-align: center;
}
#confirmTrust .notice {
  margin: 0;
}
#confirmTrust .continueLink {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 15px 0 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
#confirmTrust .continueLink div {
  margin-bottom: 5px;
}
#confirmTrust .accordion .ui-accordion-header {
  cursor: pointer;
  font-size: 15px;
  outline: medium none;
  color: #3f6998;
  text-align: center;
}
#confirmTrust .accordion .ui-accordion-header:hover {
  color: #5282b8;
}
#confirmTrust .accordion .ui-accordion-content {
  margin: 4px 0 0 0;
  text-align: left;
}
#confirmTrust .isOwnerMsg {
  margin-bottom: 17px;
}

#confirmTrustBtn {
  width: 210px;
}

#abortTip {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#abortTipContent .center {
  margin-top: 15px;
}

#noFlashPluginMsg, #wrongFlashPluginVersionMsg {
  margin-top: 15px;
}
#noFlashPluginMsg .sectionSeparator, #wrongFlashPluginVersionMsg .sectionSeparator {
  margin-bottom: 0;
}

#getSecret {
  width: 290px;
  text-align: center;
  margin: 15px auto 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#getSecret .icon-unlockify {
  font-size: 19px;
}

#clientNotAllowedMsg {
  margin-top: 15px;
}

.clientMessage {
  padding: 15px;
  text-align: left;
}
.clientMessage .chromeClientInstall {
  margin: 15px 0 10px;
}
.clientMessage ol {
  margin: 0;
  padding: 0 0 0 20px;
}
.clientMessage .largeFont {
  text-align: center;
  color: #27ae60;
  font-weight: bold;
}
.clientMessage .currentUrl {
  margin: 15px 0;
  text-align: center;
}

.authUis .panelHeader {
  margin-bottom: 15px;
}
.authUis .extLogoutWarning {
  font-size: 12px;
  display: none;
  text-align: center;
  padding: 15px 15px 15px 15px;
}
@media (min-width: 605px) {
  .authUis .extLogoutWarning {
    padding: 15px 25px 15px 25px;
  }
}
.authUis .sectionHeader {
  margin-bottom: 3px;
  float: left;
}
.authUis .error, .authUis .warning {
  display: none;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 15px 0 15px;
}
@media (min-width: 605px) {
  .authUis .error, .authUis .warning {
    padding: 0 25px 0 25px;
  }
}
.authUis .error p, .authUis .warning p {
  margin-bottom: 10px;
}
.authUis .error.authSuccess {
  width: 160px;
  margin: 15px auto;
  text-align: left;
}
.authUis .error.authSuccess .icon-checkmark {
  font-size: 48px;
  vertical-align: middle;
  float: left;
  margin-right: 15px;
  line-height: 1;
  margin-bottom: 30px;
}
.authUis .valueContainer {
  text-align: center;
}
.authUis .valueContainer .value {
  background-color: #fffdcf;
  padding: 5px 0;
  width: 290px;
  letter-spacing: 1px;
  margin: 0 auto 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.authUis .valueContainer .multipleValueIds {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.authUis .valueContainer .multipleValueIds .value:last-child {
  margin-bottom: 0;
}
.authUis .valueContainer .helpIcon {
  margin-right: -26px;
}
.authUis input[type=text],
.authUis input[type=password],
.authUis input[type=email],
.authUis input[type=tel] {
  text-align: center;
  width: 290px;
  display: block;
  margin: 0 auto;
  clear: both;
}
.authUis .toggleMask input[type="password"],
.authUis .toggleMask input[type="text"] {
  width: 82% !important;
}
.authUis .logregForm .formRow {
  width: 290px;
  margin: 0 auto 15px;
  padding: 0 15px;
}
.authUis .logregForm .formRow.last {
  margin-bottom: 0;
}
.authUis .logregForm .formRow .link {
  display: none;
}
.authUis .logregForm .userSection {
  width: 290px;
  margin: 0 auto;
}
.authUis .logregForm .loginActions {
  margin: 15px auto;
  padding: 0 15px;
  width: 290px;
  display: block;
}
.authUis .logregForm .form_errors {
  margin: 0 auto 15px;
  padding: 0 15px;
}
.authUis .logregForm .error {
  text-align: left;
  padding: 0;
  margin: 0;
}
.authUis .logregForm .error p {
  margin-bottom: 0;
}
.authUis .logregForm input[type=text],
.authUis .logregForm input[type=password],
.authUis .logregForm input[type=email] {
  text-align: left;
}
.authUis .logregForm .tooltip-inline-content {
  margin: 0px;
}
.authUis .logregForm .tooltip-inline-content .content-inner {
  width: 290px;
  margin: 0 auto;
  display: block;
}
.authUis .phoneErrors {
  text-align: left;
}
.authUis .phoneErrors div {
  padding: 0 15px;
  margin-bottom: 10px;
}

.backButton {
  bottom: 1px;
  left: 1px;
  position: absolute;
  display: none;
}
.backButton .button {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.auth_type_phone .waitTime {
  margin: 15px 0;
  font-size: 12px;
}
.auth_type_phone #begin_openid_auth {
  margin-top: 15px;
}

.auth_type_secQues #revealAnswer {
  display: block;
  margin: 15px auto 0;
}

.auth_type_password #authUi_password_inner {
  display: block;
  margin: 0 auto;
  position: relative;
}
.auth_type_password input[type=text],
.auth_type_password input[type=password] {
  text-align: left;
}
.auth_type_password .toggleMask {
  width: 290px;
  margin: 0 auto;
}

.auth_type_native {
  padding-bottom: 0;
}
.auth_type_native .icon-checkmark {
  color: #27ae60;
  font-size: 48px;
  vertical-align: middle;
  float: left;
  line-height: 1;
  margin-right: 15px;
}
.auth_type_native .showNativeName {
  font-weight: bold;
}
.auth_type_native #loginButton_la {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.auth_type_native #notYoursButtons {
  padding-bottom: 15px;
}

.auth_type_twitter .error {
  display: none;
}
.auth_type_twitter .error p {
  margin-top: 15px;
}
.auth_type_twitter #notYoursButtons {
  clear: both;
  text-align: center;
}
.auth_type_twitter .twitterHelp {
  display: block;
  margin-top: 15px;
}

#begin_twitter_auth {
  width: 290px;
  margin: 15px auto 0;
  display: block;
}

.auth_type_openid .error {
  display: none;
}
.auth_type_openid .error p {
  margin-top: 15px;
}
.auth_type_openid #notYoursButtons {
  clear: both;
  text-align: center;
}
.auth_type_openid #notYoursButtons a {
  width: 290px;
}
.auth_type_openid .gmailHelp {
  display: block;
  margin-top: 15px;
}

.auth_type_email #emailSentStatus {
  display: block;
  margin: 0 auto;
}
.auth_type_email #emailSentStatus .smallFont {
  margin-bottom: 15px;
}
.auth_type_email #back_email_button {
  display: block;
}
.auth_type_email #notYoursButtons {
  clear: both;
  text-align: center;
}
.auth_type_email #notYoursButtons #begin_openid_auth {
  margin-top: 15px;
}
.auth_type_email #validEmails {
  text-align: center;
}
.auth_type_email .emailInputContainer {
  display: block;
  margin: 15px auto 0;
}
.auth_type_email .emailInputContainer .errorGroup {
  margin-bottom: 10px;
}
.auth_type_email .emailButton {
  width: 290px;
  margin: 15px auto 0;
  display: block;
}

#integratedEmailRatelimited,
#integratedEmailNotFound {
  text-align: left;
  display: none;
}

#integratedEmailButton {
  margin-top: 15px;
  text-align: center;
  display: none;
}
#integratedEmailButton .emailTypeButton {
  margin: 15px 0 0;
  display: none;
}
#integratedEmailButton .button {
  text-align: left;
  width: 290px;
}
#integratedEmailButton .icomoon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 20px;
  text-align: center;
}

#emailAuthMultiFactorCode {
  width: 290px;
}

#auth_native_error {
  text-align: center;
  margin-bottom: 15px;
}

#authNativeSuccessMsg {
  display: none;
  padding: 0 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#authUi_none .authUI_desc {
  text-align: left;
  margin: 0 0 15px 0;
}

#emailCodeInputContainer {
  margin: 15px 0 20px 0;
}
#emailCodeInputContainer .caseSensitivity {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
#emailCodeInputContainer #voiceDecryptmobileOTPCaseMsg {
  display: block;
}
#emailCodeInputContainer .error {
  margin-bottom: 5px;
  display: none;
}
#emailCodeInputContainer #getSecret {
  display: block !important;
}

#multiFactorInitiate .phoneInputContainer {
  margin: 15px 0 5px;
}
#multiFactorInitiate .phoneInputContainer .phoneInputMsg {
  text-align: center;
  font-size: 12px;
  color: #7c7c7c;
  margin-top: 5px;
}
#multiFactorInitiate #otp_buttons {
  text-align: center;
  display: none;
  margin-top: 15px;
}
#multiFactorInitiate #otp_buttons .button {
  width: 145px;
  margin-top: 5px;
  height: 50px;
  line-height: 20px;
}
#multiFactorInitiate #smsButton {
  margin-right: 5px;
}

#smsMessageSent {
  display: none;
}

#smsMessageStatus {
  margin: 0 auto;
  display: block;
}

#smsCodeInputContainer .error {
  display: none;
  margin-bottom: 10px;
}
#smsCodeInputContainer button {
  font-size: 19px;
  margin: 0;
  vertical-align: top;
}
#smsCodeInputContainer button div {
  margin-bottom: 0;
}
#smsCodeInputContainer #getSecret {
  display: inline-block !important;
}

#voiceCallSent {
  display: none;
}

#callStatus {
  margin: 0 auto;
  display: block;
}

#otpVoiceStatus {
  width: 290px;
  margin: 0 auto;
}
#otpVoiceStatus div {
  margin-bottom: 10px;
}
#otpVoiceStatus .complete_voice_status {
  color: #3f3f3f;
}
#otpVoiceStatus .complete_voice_status .icomoon-icon {
  color: #27ae60;
}
#otpVoiceStatus .pending_voice_status {
  color: #7c7c7c;
}
#otpVoiceStatus .error_voice_status {
  color: #e67e22;
}
#otpVoiceStatus .error_voice_status .icomoon-icon {
  color: #e67e22;
}
#otpVoiceStatus .icomoon-icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 24px;
  width: 24px;
}

#otpVoiceStatus_code {
  margin: 30px 0 0 0;
}
#otpVoiceStatus_code .error {
  text-align: left;
  margin: 0 0 0 38px;
}

#voiceCodeInputContainer {
  margin-top: 15px;
}
#voiceCodeInputContainer .error {
  display: none;
  margin: 0 0 10px 0;
}
#voiceCodeInputContainer .codeInputContainer .caseSensitivity {
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
#voiceCodeInputContainer #getSecret {
  display: inline-block !important;
}

.codeInputContainer {
  text-align: center;
}

#methodMetaTips {
  color: #7c7c7c;
  padding: 15px;
  font-size: 12px;
  margin: 0 auto;
  width: 300px;
}
@media (min-width: 605px) {
  #methodMetaTips {
    width: 80%;
  }
}
#methodMetaTips > div {
  text-align: center;
  padding: 0;
  display: none;
}
#methodMetaTips ul {
  padding: 0 0 0 15px;
  text-align: left;
  display: none;
  margin: 0;
}
#methodMetaTips .wideOnly {
  display: none;
}
@media (min-width: 605px) {
  #methodMetaTips .wideOnly {
    display: block;
  }
  #methodMetaTips .narrowOnly {
    display: none;
  }
}

.methodHelp {
  padding: 0px 15px 0px 15px;
}
@media (min-width: 605px) {
  .methodHelp {
    padding: 0px 25px 0px 25px;
  }
}
.methodHelp .toggleTrigger {
  font-size: 12px;
}
.methodHelp .sectionSeparator {
  margin-top: 15px;
  margin-bottom: 0;
}

.error .send_again {
  text-decoration: underline;
  cursor: pointer;
}
.error .send_again:hover {
  color: #c46816;
}

#confirmLoading {
  display: none;
  text-align: center;
  padding-top: 15px;
}
#confirmLoading .briefLoading {
  height: 120px;
  padding-top: 0px;
}
#confirmLoading .largeFont {
  font-weight: bold;
  color: #18223d;
  text-transform: uppercase;
}
#confirmLoading .spinkitSpinner > div,
#confirmLoading .spinkitSpinner > span {
  width: 20px;
  height: 20px;
}
#confirmLoading .spinkitSpinner {
  margin: 25px auto;
}

#downloadProgress {
  display: none;
  margin-top: 50px;
  padding: 0px 15px 0px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 605px) {
  #downloadProgress {
    padding: 0px 25px 0px 25px;
  }
}
#downloadProgress .status {
  margin-top: 5px;
  text-align: center;
}

#decryptDataOverlayText {
  top: 50%;
  margin-top: -14px;
  font-weight: bold;
  font-size: 19px;
  color: #27ae60;
}

#decryptedMessage {
  position: relative;
}

.justExpired {
  margin: 0;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
  padding: 0px 15px 0px 15px;
}
@media (min-width: 605px) {
  .justExpired {
    padding: 0px 25px 0px 25px;
  }
}
.justExpired .noticeText {
  width: 100%;
}
.justExpired .sectionSeparator {
  margin-bottom: 0;
}
.justExpired #expiredTip {
  text-align: left;
  line-height: 1.5;
  padding-bottom: 10px;
}
.justExpired .icon-help {
  margin-top: -5px;
}
.justExpired .wideOnly {
  display: none;
}
@media (min-width: 605px) {
  .justExpired .wideOnly {
    display: inline;
  }
}

#decryptContent {
  position: relative;
}
#decryptContent .icon-nav-marker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: #e8e8e8;
  font-size: 30px;
  line-height: 1;
  pointer-events: none;
}

#decryptDataContainer {
  position: relative;
}
#decryptDataContainer.withFiles #dataBottomBar {
  border-bottom: 1px solid #bdbdbd;
}
#decryptDataContainer #dataBottomBar {
  display: block;
  min-height: 30px;
  position: relative;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  padding: 0px 15px 0px 15px;
}
@media (min-width: 605px) {
  #decryptDataContainer #dataBottomBar {
    padding: 0px 25px 0px 25px;
  }
}
#decryptDataContainer #dataBottomBar .sectionSeparator {
  margin-bottom: 0;
}
#decryptDataContainer #dataBottomBar #noFile {
  color: #999999;
  float: right;
}
#decryptDataContainer #dataBottomBar #maskToggleContainer {
  font-size: 12px;
  float: right;
  white-space: nowrap;
  cursor: pointer;
  visibility: hidden;
  margin: 7px 0 0 0;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage {
  float: left;
  margin: 0;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #printEnabled {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #3f6998;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #printEnabled:hover {
  color: #5282b8;
  cursor: pointer;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #printDisabled {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #999999;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #printDisabled:hover {
  color: #999999;
  cursor: not-allowed;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #printDisabled:hover * {
  cursor: not-allowed;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #noFilePrint {
  display: none;
  font-size: 12px;
  color: #3f3f3f;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage #noAppPrint {
  color: #999999;
}
#decryptDataContainer #dataBottomBar #printDecryptMessage .icomoon-icon {
  margin-right: 3px;
  line-height: 1;
}

#dataShow {
  background-color: white;
  overflow-x: hidden;
  outline: none;
  white-space: normal;
  height: auto;
  /*Lets box resize itself with min-max limits*/
  min-height: 22px;
  /*Equals 1 line*/
  max-height: 600px;
  /*Equals 30 lines*/
  display: block;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  line-height: 24px;
  resize: none;
  border-top: 1px solid #bdbdbd;
  padding: 15px 15px 15px 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.5s ease-in-out 0;
  -o-transition: all 0.5s ease-in-out 0;
  transition: all 0.5s ease-in-out 0;
}
@media (min-width: 605px) {
  #dataShow {
    padding: 15px 25px 15px 25px;
  }
}
#dataShow.data-blur {
  color: transparent;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
#dataShow.data-blur:hover {
  cursor: pointer;
}
#dataShow.data-focus {
  color: #3f3f3f;
  text-shadow: 0px 0px 0px transparent;
}

#saveDecFileContainer {
  border-top: 1px solid white;
}
#saveDecFileContainer .icon-disk {
  margin-right: 3px;
}
#saveDecFileContainer.html5 .fileLinkCell a {
  line-height: 23px;
}
#saveDecFileContainer.flash .fileLinkCell {
  width: 70px !important;
  max-width: 70px !important;
  float: right !important;
}
#saveDecFileContainer.flash .fileLinkCell object {
  outline: none;
  margin-top: 1px;
  margin-right: -102px;
}
#saveDecFileContainer.fileOnlyContainer {
  background-color: white;
  border-top: 1px solid #bdbdbd;
}

#fileList {
  margin: 0;
  padding: 15px 15px 10px 15px;
}
@media (min-width: 605px) {
  #fileList {
    padding: 15px 25px 10px 25px;
  }
}
#fileList .fileRow {
  height: 30px;
  margin-top: 15px;
}
#fileList .fileRow.first {
  margin-top: 0;
}
#fileList .fileRow .icon-flag {
  width: 8%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0%;
  max-width: 20px;
}
@media (min-width: 605px) {
  #fileList .fileRow .icon-flag {
    width: 4%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
  }
}
#fileList .fileRow .icon-flag.hover {
  color: #5282b8;
}
#fileList .fileRow .fileNameCell {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 48%;
  clear: right;
  float: left;
}
@media (min-width: 605px) {
  #fileList .fileRow .fileNameCell {
    width: 72%;
    clear: right;
    float: left;
  }
}
#fileList .fileRow .fileNameCell span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
#fileList .fileRow .fileNameCell.hover {
  color: #3f6998;
}
#fileList .fileRow .fileSizeCell {
  width: 16%;
  clear: right;
  float: left;
  font-size: 12px;
  color: #7c7c7c;
  text-align: right;
  padding-top: 3px;
}
@media (min-width: 605px) {
  #fileList .fileRow .fileSizeCell {
    width: 8%;
    clear: right;
    float: left;
  }
}
#fileList .fileRow .fileSizeCell.hover {
  color: #5282b8;
}
#fileList .fileRow .fileLinkCell {
  width: 28.0%;
  clear: right;
  float: left;
  outline: none;
  text-align: right;
  float: right !important;
}
@media (min-width: 605px) {
  #fileList .fileRow .fileLinkCell {
    width: 16%;
    clear: right;
    float: left;
  }
}
#fileList .fileRow .icon-disk {
  float: left;
}
#fileList .fileProgressMeter {
  position: absolute;
  width: 75px;
  height: 23px;
  left: 0;
  top: 0;
  padding: 0;
  cursor: default;
  border: 0 none;
}
#fileList .fileProgressMeter div {
  height: 23px;
}
#fileList .fileProgressMeter > div > div, #fileList .fileProgressMeter div:after {
  background: #27ae60;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#userWidgetContainer {
  margin-top: 15px;
  padding: 0px 15px 15px 15px;
}
@media (min-width: 605px) {
  #userWidgetContainer {
    padding: 0px 25px 15px 25px;
  }
}

#userWidgetTip {
  margin-bottom: 10px;
}

.linkProblem .status {
  padding: 35px 0 15px;
}
.linkProblem .sectionSeparator {
  margin-bottom: 0;
}
