/*
Lockify Inc.
Copyright 2009 - 2014
www.Lockify.com
-----------------------------------
*/
.emailTipContainer .emailTips {
  padding: 0 0 0 20px;
  margin: 0;
  text-align: left;
}
.emailTipContainer .showEmailTips {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.emailTipContainer .toggleTrigger {
  text-align: center;
}

.login #menuDropdown, .registerconfirm #menuDropdown, .passwordresetconfirm #menuDropdown, .admin_registerconfirm #menuDropdown, .accountsemailchangeconfirm #menuDropdown {
  display: none;
}
.login .error p, .registerconfirm .error p, .passwordresetconfirm .error p, .admin_registerconfirm .error p, .accountsemailchangeconfirm .error p {
  margin: 0;
}
.login .sidebarPanel, .registerconfirm .sidebarPanel, .passwordresetconfirm .sidebarPanel, .admin_registerconfirm .sidebarPanel, .accountsemailchangeconfirm .sidebarPanel {
  float: right;
  text-align: left;
  width: 152px;
}
.login #topNavbar, .registerconfirm #topNavbar, .passwordresetconfirm #topNavbar, .admin_registerconfirm #topNavbar, .accountsemailchangeconfirm #topNavbar {
  display: none;
}
.login #header, .registerconfirm #header, .passwordresetconfirm #header, .admin_registerconfirm #header, .accountsemailchangeconfirm #header {
  margin-bottom: 0;
}
.login #footer td > span, .registerconfirm #footer td > span, .passwordresetconfirm #footer td > span, .admin_registerconfirm #footer td > span, .accountsemailchangeconfirm #footer td > span {
  margin-right: 7px;
}

.registerconfirm #header .inner .logoColumn, .passwordresetconfirm #header .inner .logoColumn, .admin_registerconfirm #header .inner .logoColumn, .accountsemailchangeconfirm #header .inner .logoColumn {
  float: none;
  margin: 0 auto;
}
.registerconfirm .container, .passwordresetconfirm .container, .admin_registerconfirm .container, .accountsemailchangeconfirm .container {
  padding: 15px 15px 15px 15px;
}
@media (min-width: 605px) {
  .registerconfirm .container, .passwordresetconfirm .container, .admin_registerconfirm .container, .accountsemailchangeconfirm .container {
    padding: 15px 25px 15px 25px;
  }
}
.registerconfirm #previewBandTip, .passwordresetconfirm #previewBandTip, .admin_registerconfirm #previewBandTip, .accountsemailchangeconfirm #previewBandTip {
  width: 480px;
}
.registerconfirm #footer.wrapper .inner, .passwordresetconfirm #footer.wrapper .inner, .admin_registerconfirm #footer.wrapper .inner, .accountsemailchangeconfirm #footer.wrapper .inner {
  width: 585px;
  margin: 0 auto;
}

.logregForm label.regularLabel {
  float: left;
}
.logregForm input[type="text"],
.logregForm input[type="password"],
.logregForm input[type="email"] {
  width: 100%;
}
.logregForm .tooltip-inline-content {
  margin: 0 -15px;
}
.logregForm .loginSection {
  margin-top: 15px;
}
.logregForm .loginActions {
  clear: both;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 15px 0 0;
  text-align: right;
  white-space: nowrap;
  width: 100%;
}
.logregForm .loginActions .link {
  float: none;
}
.logregForm .form_errors p,
.logregForm .rateLimitMessagesTemplate div {
  margin-bottom: 15px;
}
.logregForm .error {
  clear: both;
}
.logregForm .notice {
  margin: 0 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.logregForm .claimLink {
  display: none;
  background-color: #e4eef8;
  padding: 5px 15px 5px 15px;
  margin: 15px -15px 0 -15px;
}
@media (min-width: 605px) {
  .logregForm .claimLink {
    padding: 5px 25px 5px 25px;
  }
}
@media (min-width: 605px) {
  .logregForm .claimLink {
    margin: 15px -25px 0 -25px;
  }
}
.logregForm .claimLink label {
  font-size: 15px;
}
.logregForm .claimLink #claimLinkTip,
.logregForm .claimLink #claimLinkTip2 {
  padding-top: 10px;
}
.logregForm .rememberContainer {
  float: left;
  margin-top: 5px;
  text-align: left;
}
.logregForm .rememberContainer .icon-help {
  margin-left: 0;
  margin-top: -8px;
}
.logregForm #uniform-legalAgree {
  margin: -2px 0 0 -4px;
}
.logregForm .loginPassword div {
  position: relative;
}
.logregForm #confirmPword {
  position: relative;
}

#two_factor_form {
  width: 300px;
  margin: 0 auto;
}
#two_factor_form .global-border {
  float: left;
  width: 70%;
  text-align: center;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
#two_factor_form button {
  float: left;
  width: 30%;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#secondLoginScreen .two_factor_remember {
  text-align: left;
  width: 300px;
  text-align: center;
  margin: 5px auto 15px;
}
#secondLoginScreen .versionNotice {
  width: 300px;
  margin: 0 auto 15px;
  text-align: center;
}
#secondLoginScreen .toggleContent {
  text-align: left;
  padding-bottom: 15px;
}

#expressUtilityPanels .logregForm .rememberContainer {
  margin-top: 5px;
}
#expressUtilityPanels .logregForm .loginActions {
  margin-bottom: 15px;
}
#expressUtilityPanels .dialogContent {
  padding-bottom: 0;
}
#expressUtilityPanels .versionNotice {
  margin-bottom: 15px;
}
#expressUtilityPanels .expressPanel {
  display: none;
}
#expressUtilityPanels .expressPanel .claimLinkRegister {
  background-color: #fffdcf;
  font-style: italic;
  padding: 5px 15px 5px 15px;
  margin: 0 -15px 0 -15px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media (min-width: 605px) {
  #expressUtilityPanels .expressPanel .claimLinkRegister {
    padding: 5px 25px 5px 25px;
  }
}
@media (min-width: 605px) {
  #expressUtilityPanels .expressPanel .claimLinkRegister {
    margin: 0 -25px 0 -25px;
  }
}
#expressUtilityPanels .loginSection a {
  font-size: 12px;
}

#firstLoginScreen label {
  width: 75px;
}

.versionNotice .link {
  text-decoration: underline;
}

#loginExtraInfo .wideOnly {
  display: none;
}
@media (min-width: 605px) {
  #loginExtraInfo .wideOnly {
    display: block;
  }
  #loginExtraInfo .narrowOnly {
    display: none;
  }
}

@media (min-width: 605px) {
  .login #main {
    padding-top: 70px;
  }
}
@media (min-width: 605px) {
  .login #header .inner {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.login .sectionText {
  font-size: 17px;
  text-align: center;
}
@media (min-width: 605px) {
  .login .sectionText {
    font-size: 24px;
  }
}
.login .aboutLockify {
  display: none;
  text-align: center;
  font-size: 12px;
}
@media (min-width: 605px) {
  .login .aboutLockify {
    display: block;
  }
}
.login .aboutLockify2 {
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
}
@media (min-width: 605px) {
  .login .aboutLockify2 {
    display: none;
  }
}
.login .top {
  padding: 15px 15px 0 15px;
}
@media (min-width: 605px) {
  .login .top {
    padding: 15px 25px 0 25px;
  }
}
.login .middle {
  text-align: center;
  padding: 25px 15px 15px 15px;
}
@media (min-width: 605px) {
  .login .middle {
    padding: 25px 25px 15px 25px;
  }
}
.login .middle .left {
  width: 270px;
  margin: 0 auto;
  vertical-align: top;
}
@media (min-width: 605px) {
  .login .middle .left {
    display: inline-block;
  }
}
.login .middle .left .container.bottom {
  margin-top: 44px;
}
.login .middle .right {
  width: 270px;
  vertical-align: top;
  margin: 25px auto 0;
}
@media (min-width: 605px) {
  .login .middle .right {
    margin: 0 0 0 10px;
    display: inline-block;
  }
}
.login .middle .button {
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  text-transform: none;
  font-weight: normal;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login .middle .button.bottom {
  margin-top: 15px;
}
@media (min-width: 605px) {
  .login .middle .button.bottom {
    margin-top: 45px;
  }
}
@media (min-width: 605px) {
  .login .middle .button.installExt.bottom {
    margin-top: 25px;
  }
}
.login .middle .button.disable, .login .middle .button.disable:hover {
  cursor: default;
  color: #3f3f3f !important;
  background-color: #d9d9d9;
  border-color: #c2c2c2;
}
.login .middle .button.installing .spinMe, .login .middle .button.installing .spinMe {
  font-size: 37px;
  margin-left: -16px;
  top: 0;
}
.login .columHeader {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (min-width: 605px) {
  .login .columHeader {
    margin-bottom: 20px;
  }
}
.login .columHeader span {
  font-weight: normal;
}
.login .notchrome .container {
  text-align: left;
  line-height: 1.5;
  padding-top: 16px !important;
}
.login .notchrome .container:hover {
  color: white;
}
.login .notchrome a.container {
  margin-left: 0;
  margin-right: 0;
}
.login .notchrome .text {
  width: 90px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.login .notchrome .logoText {
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
  margin-left: 15px;
  font-size: 12px;
}
.login .notchrome .icon-chrome {
  font-size: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 8px;
}

@media (min-width: 605px) {
  #loginBody.singleColumn .middle {
    margin-top: 60px;
  }
}
#loginBody.singleColumn .columHeader {
  display: none;
}

.orgWelcome {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 28px;
  font-weight: bold;
}

#resetPasswordSubmitted .toggleContent {
  padding-bottom: 15px;
}

#reset_password_form .form_errors,
#reset_password_form2 .form_errors {
  margin: 0;
}

#newReset_form .error,
#newReset_form2 .error,
#newReset_form3 .error,
#newReset_form4 .error {
  display: block;
}
#newReset_form .pwordSafety,
#newReset_form2 .pwordSafety,
#newReset_form3 .pwordSafety,
#newReset_form4 .pwordSafety {
  position: absolute;
  right: 15px;
  width: 240px;
}
#newReset_form .errorlist,
#newReset_form2 .errorlist,
#newReset_form3 .errorlist,
#newReset_form4 .errorlist {
  color: #e67e22;
  display: block;
  font-size: 12px;
  margin: 0 0 0 135px;
  padding: 0;
}
#newReset_form .errorlist li,
#newReset_form2 .errorlist li,
#newReset_form3 .errorlist li,
#newReset_form4 .errorlist li {
  list-style-type: none;
}
#newReset_form .pwordComplexityContainer,
#newReset_form2 .pwordComplexityContainer,
#newReset_form3 .pwordComplexityContainer,
#newReset_form4 .pwordComplexityContainer {
  width: 123px;
}
#newReset_form .passwordMatch,
#newReset_form2 .passwordMatch,
#newReset_form3 .passwordMatch,
#newReset_form4 .passwordMatch {
  float: right;
  margin-top: 0;
}
#newReset_form .timezoneViewWrapper,
#newReset_form2 .timezoneViewWrapper,
#newReset_form3 .timezoneViewWrapper,
#newReset_form4 .timezoneViewWrapper {
  margin-top: -21px;
}
#newReset_form .timezoneSelect .customSelectContainer,
#newReset_form2 .timezoneSelect .customSelectContainer,
#newReset_form3 .timezoneSelect .customSelectContainer,
#newReset_form4 .timezoneSelect .customSelectContainer {
  width: 100%;
}
#newReset_form .timezoneSelect .customSelectList,
#newReset_form2 .timezoneSelect .customSelectList,
#newReset_form3 .timezoneSelect .customSelectList,
#newReset_form4 .timezoneSelect .customSelectList {
  max-height: 225px;
  overflow-y: scroll;
}

.agreeLabel {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 225px;
}
@media (min-width: 470px) {
  .agreeLabel {
    width: auto;
  }
}

.submittedEmailAddress,
.registerEmailAddress {
  font-weight: bold;
  text-align: center;
}

#registrationSubmitted {
  display: none;
}
#registrationSubmitted .tip1 {
  display: none;
}
#registrationSubmitted .emailTipContainer .emailTips {
  padding-bottom: 15px;
}

#registrationSubmitted .sectionSeparator,
#resetPasswordSubmitted .sectionSeparator {
  margin-bottom: 0;
}
#registrationSubmitted .accountText,
#resetPasswordSubmitted .accountText {
  margin: 0 0 15px;
}
