.sme_org #tableLoading .spinkitSpinner > div,
.sme_org #tableLoading .spinkitSpinner > span {
  width: 20px;
  height: 20px;
}
.sme_org #tableLoading .spinkitSpinner {
  margin: 75px auto;
}

.topNoticeBand {
  display: none;
}

.smeMemberRowMenu {
  position: absolute;
  background-color: white;
  white-space: nowrap;
  text-align: left;
  padding: 5px 10px;
  z-index: 99;
  font-size: 15px;
  right: auto;
  line-height: 1.8;
  -webkit-box-shadow: 0px 0px 18px 0px #999999;
  -moz-box-shadow: 0px 0px 18px 0px #999999;
  box-shadow: 0px 0px 18px 0px #999999;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 605px) {
  .smeMemberRowMenu {
    right: 25px !important;
    top: 25px !important;
  }
}
@media (min-width: 960px) {
  .smeMemberRowMenu {
    right: auto !important;
    left: 40px;
  }
}
.smeMemberRowMenu a {
  display: block;
  margin: 0 -10px;
  padding: 0 10px;
}
.smeMemberRowMenu a:hover {
  color: white;
  background-color: #3f6998;
}
.smeMemberRowMenu a.disabled:hover {
  color: #7c7c7c;
  background-color: transparent;
}

#orgContainer {
  padding: 15px 0 0;
}
#orgContainer h1 {
  padding: 0 15px 0 15px;
}
@media (min-width: 605px) {
  #orgContainer h1 {
    padding: 0 25px 0 25px;
  }
}

#orgInfo {
  padding: 15px 15px 15px 15px;
}
@media (min-width: 605px) {
  #orgInfo {
    padding: 15px 25px 15px 25px;
  }
}

#orgDetails button {
  text-transform: uppercase;
  font-weight: normal;
}
#orgDetails button .icomoon-icon {
  float: left;
  margin-right: 5px;
}
#orgDetails .link .icomoon-icon {
  margin-right: 1px;
}

#orgLogoBlock {
  width: 85px;
  height: 85px;
  float: left;
  margin-right: 15px;
}

#orgLogoImage {
  width: 85px;
  height: 85px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#orgLogoChangeBlock {
  padding-top: 15px;
}

#orgLogoAddBlock:hover {
  border-color: #3f6998;
}
#orgLogoAddBlock:hover a {
  color: #3f6998;
}
#orgLogoAddBlock a {
  display: inline-block;
  padding: 23px 0 0;
  margin: 0;
  color: #7c7c7c;
  text-decoration: none;
}

.orgLogoTextBlock {
  background-color: white;
  font-size: 12px;
  height: 85px;
  width: 85px;
  text-align: center;
  border: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 605px) {
  .orgLogoTextBlock {
    background-color: #d9d9d9;
  }
}
.orgLogoTextBlock a {
  text-decoration: underline;
}

.orgLogoBlocks, #orgLogoUploadBlock {
  display: none;
}

.detailRow {
  clear: none;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.detailRow.first {
  width: 60%;
  float: left;
  margin-bottom: 10px;
}
@media (min-width: 605px) {
  .detailRow.first {
    width: 175px;
  }
}
.detailRow button {
  vertical-align: bottom;
}

.orgMemberManage {
  padding: 0 15px 15px 15px;
}
@media (min-width: 605px) {
  .orgMemberManage {
    padding: 0 25px 15px 25px;
  }
}

.memberCount {
  width: 274px;
  line-height: 2;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.detailLabel {
  font-weight: bold;
  color: #7c7c7c;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.icon-handle {
  color: #3f6998;
  cursor: pointer;
}

.timezoneLoading {
  height: 22px;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.timezoneLoading .spinkitSpinner > div,
.timezoneLoading .spinkitSpinner > span {
  width: 16px;
  height: 16px;
}

.backgrid {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.backgrid th, .backgrid td {
  padding: 5px;
  vertical-align: top;
  max-width: 2000px;
}
.backgrid td {
  font-size: 12px;
  border-bottom: 1px solid #bdbdbd;
}
.backgrid thead {
  background-color: #e8e8e8;
}
.backgrid thead th {
  background-color: white;
  border-bottom: 1px solid #bdbdbd;
  text-align: left;
}
.backgrid td:first-child {
  padding-left: 15px;
}
@media (min-width: 605px) {
  .backgrid td:first-child {
    padding-left: 25px;
  }
}
.backgrid tr:hover .icon-handle {
  visibility: visible;
}
.backgrid .ascending .sort-caret {
  vertical-align: middle;
  border-bottom: 4px solid #3f6998;
}
.backgrid .ascending a:hover .sort-caret {
  border-bottom: 4px solid #325378;
}
.backgrid .ascending a:active .sort-caret {
  border-bottom: 4px solid #e67e22;
}
.backgrid .descending .sort-caret {
  vertical-align: middle;
  border-top: 4px solid #3f6998;
}
.backgrid .descending a:hover .sort-caret {
  border-top: 4px solid #325378;
}
.backgrid .descending a:active .sort-caret {
  border-top: 4px solid #e67e22;
}
.backgrid .time_display {
  padding-left: 15px;
}
@media (min-width: 605px) {
  .backgrid .member {
    width: 50%;
    padding-left: 15px;
  }
  .backgrid .roleDisplay {
    width: 20%;
  }
  .backgrid .statusDisplay {
    width: 20%;
  }
  .backgrid .actions {
    width: 10%;
  }
  .backgrid .time_display {
    max-width: 20%;
    padding-left: 25px;
  }
  .backgrid .user {
    max-width: 40%;
  }
  .backgrid .action {
    max-width: 20%;
  }
}
@media (min-width: 605px) and (min-width: 605px) {
  .backgrid .member {
    padding-left: 25px;
  }
}
.backgrid .handleCell {
  overflow: visible;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
}
@media (min-width: 605px) {
  .backgrid .handleCell {
    padding-right: 25px;
  }
}
.backgrid .handleCell:hover .icon-handle {
  color: #325378;
}
.backgrid .actions {
  text-align: right;
  cursor: default;
  color: #3f3f3f;
  font-size: 12px;
  padding-right: 15px;
}
@media (min-width: 605px) {
  .backgrid .actions {
    padding-right: 25px;
  }
}
.backgrid .actionCell {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  height: 60px;
  padding-right: 15px;
}
@media (min-width: 605px) {
  .backgrid .actionCell {
    padding-right: 10px;
  }
}

.tabBox {
  margin-top: 15px;
}
.tabBox .backgrid {
  border-top: 1px solid #bdbdbd;
}

#emailMemberDialog .formRow div {
  clear: both;
}
#emailMemberDialog .toggleTrigger {
  padding: 0 0 10px;
  text-align: left;
}
#emailMemberDialog .link {
  text-decoration: underline;
}

.cssanimations .smallBriefLoading {
  display: none;
}

#thead-copy {
  width: 73.33333%;
}
#thead-copy .backgrid {
  border-top: 0 none;
  border-bottom: 0 none;
  border-radius: 0;
}

#orgTabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#orgTabs #memberTab {
  width: 50%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0%;
}
#orgTabs #activityTab {
  width: 50%;
  clear: right;
  float: right;
  margin-right: 0;
}

#orgTimezoneSelect {
  margin-bottom: 15px;
}
